.elementor-heading-title {
    padding: 0;
    margin: 0;
    line-height: 1
}

.elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
    color: inherit;
    font-size: inherit;
    line-height: inherit
}

.elementor-widget-heading .elementor-heading-title.elementor-size-small {
    font-size: 15px
}

.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
    font-size: 19px
}

.elementor-widget-heading .elementor-heading-title.elementor-size-large {
    font-size: 29px
}

.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
    font-size: 39px
}

.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
    font-size: 59px
}
.elementor-293 .elementor-element.elementor-element-1223de4 .exad-card{
    max-height: 350px;
}
.exad-card-thumb svg{
    width:100%;
    height:100%;
    transform: scale(1);
    transition: all 0.3s ease;
}
.exad-card:hover.yes .exad-card-thumb svg {
    transform: scale(1.15);
}
.cv-color .elementor-icon{
    cursor:pointer;
}
.cv-color .elementor-icon.active, .cv-color .elementor-icon.active{
    border: 2px solid #025F6B;
    border-radius: 100%;
    transform: scale(1.15);
}
.cv-template{
    cursor:pointer;
}
.cv-template.active{
    border: 4px solid #025F6B;
}
/*Create CV Page*/
.elementor-heading-title {
    padding: 0;
    margin: 0;
    line-height: 1
}

.elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
    color: inherit;
    font-size: inherit;
    line-height: inherit
}

.elementor-widget-heading .elementor-heading-title.elementor-size-small {
    font-size: 15px
}

.elementor-widget-heading .elementor-heading-title.elementor-size-medium {
    font-size: 19px
}

.elementor-widget-heading .elementor-heading-title.elementor-size-large {
    font-size: 29px
}

.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
    font-size: 39px
}

.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
    font-size: 59px
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: #69727d;
    color: #fff
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
    color: #69727d;
    border: 3px solid;
    background-color: transparent
}

.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
    margin-top: 8px
}

.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
    width: 1em;
    height: 1em
}

.elementor-widget-text-editor .elementor-drop-cap {
    float: left;
    text-align: center;
    line-height: 1;
    font-size: 50px
}

.elementor-widget-text-editor .elementor-drop-cap-letter {
    display: inline-block
}
/*Modal*/
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.open {
    opacity: 1;
    z-index: 111111;
}

.modal.show, .modal.open {
    /*display: block;*/
    opacity: 1;
    z-index: 111111;
    background-color: rgba(246, 245, 240, 0.7);
}

.inner_modal {
    justify-content: center;
    margin-top: 225.5px
}

.modal-dialog .close {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    -webkit-appearance: none;
    outline: 0;
    cursor: pointer;
}

.modal-dialog-common .close, .modal-empty-experience .close, .modal-delete-paragraph .close, .modal-delete .close, .modal-single-experience .close, .modal-welcome-back .close, .modal-cookies .close, .modal-create-resume-confirmation .close, .modal .close {
    padding: 5px;
    position: absolute;
    top: 13px;
    right: 17px;
    z-index: 100;
}

.modal-dialog {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    /*Nour Added*/
    /*height: 1073px;*/
    max-height: 1073px;
    z-index: 1;
    max-width: 1070px;
    /*margin-top: 14rem;*/
    margin-top: 2rem;
    margin-bottom: auto;
    /*overflow: auto;*/
    margin-left: auto;
    margin-right: auto;
}
.modal-dialog .icon-close-modal::before {
    content: "\f00d";
    font-weight: 300;
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal_container {
    width: 1070px;
    /*height: 1073px;*/
    max-height: 1073px;
    z-index: 1;
    max-width: 1070px;
    /*margin-top: 14rem;*/
    margin-top: 11rem;
    margin-bottom: auto;
    /*overflow: auto;*/
    /*overflow: hidden;*/
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    pointer-events: none;
    color: #082e67;
}

.modal-dialog-centered::before {
    display: block;
    height: calc(100vh - (10px * 2));
    content: "";
}

@media (min-width: 576px) {
    .modal-dialog-centered::before {
        height: calc(100vh - (30px * 2));
    }
}

.modal-content {
    /*    Hola*/
    min-height: 288px;
    display: block;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.18);
    padding: 38px 58px 26px;
    position: relative;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 30px;
    outline: 0;
}
.head_container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.elementor-widget-progress {
    text-align: left
}

.elementor-progress-wrapper {
    position: relative;
    background-color: #eee;
    color: #fff;
    height: 100%;
    border-radius: 2px
}

.elementor-progress-bar {
    display: flex;
    background-color: #69727d;
    width: 0;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    transition: width 1s ease-in-out
}

.elementor-progress-text {
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 15px
}

.elementor-progress-percentage {
    padding-right: 15px
}

.elementor-widget-progress .elementor-progress-wrapper.progress-info .elementor-progress-bar {
    background-color: #5bc0de
}

.elementor-widget-progress .elementor-progress-wrapper.progress-success .elementor-progress-bar {
    background-color: #5cb85c
}

.elementor-widget-progress .elementor-progress-wrapper.progress-warning .elementor-progress-bar {
    background-color: #f0ad4e
}

.elementor-widget-progress .elementor-progress-wrapper.progress-danger .elementor-progress-bar {
    background-color: #d9534f
}

.elementor-progress .elementor-title {
    display: block
}

@media (max-width: 767px) {
    .elementor-progress-text {
        padding-left: 10px
    }
}

.e-con-inner .elementor-progress-wrapper, .e-con .elementor-progress-wrapper {
    height: auto
}
.section-tab {
    display: none;
    backdrop-filter: blur(7px);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 50px 50px 50px;
    border-radius: 5px 5px 5px 5px;
}

.cv-container {
    max-width: 1400px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.cv-container .flex-wrap {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.trans-container {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
}

.trans-container.widg-container {
    margin: 36px 0 -7px 0;
    padding: 20px 0 20px 0;
}

.elementor-headline-dynamic-text {
    color: var(--dynamic-text-color, #024A53);
}

.text-center {
    text-align: center !important;
}

.width100 {
    width: 100%
}

.mb-15 {
    margin-bottom: 15px;
}

.cv-wizard-card {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0;
    margin-bottom: -200px;
    padding: 50px 50px 50px 50px;
    z-index: 2;
    background-color: var(--e-global-color-fdf12ae);
    backdrop-filter: blur(7px);
    border-radius: 5px 5px 5px 5px;
}

.cv-steps-row {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

.cv-step-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.cv-step-num {
    /*padding: 5px 02px 5px 2px;*/
    background-color: var(--e-global-color-50b2a21);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.cv-step-num span {
    color: #024A53;
    font-size: 1.5rem;
    font-weight: 500;
}
.cv-step-num.active{
    background: #024851;
}
.cv-step-num.active span{
    color: #fff;
}
.cv-step-title {
    color: var(--e-global-color-accent);
}
.cv-section-tabs{
    background-color: transparent;
    background-image: radial-gradient(at top right, #D8F0F240 10%, var(--e-global-color-6b0ce64) 35%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 121px;
    margin-bottom: 0px;
    padding: 100px 50px 100px 50px;
}
.cv-footer-wizard{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.direction-rtl{
    direction:rtl;
}
.next-btn{
    background-color: transparent;
    background-image: linear-gradient(180deg, #024851 0%, #024851 100%);
    border-radius: 5px 5px 5px 5px;
    padding: 16px 35px 16px 35px;
}
.back-btn{
    background-color: transparent;
    background-image: linear-gradient(180deg, #5F5F5F 0%, #646464 100%);
}
.back-btn:hover{
    background-color: transparent;
    background-image: linear-gradient(180deg, #024851 0%, #025F6B 100%);
}
.cv-btn{
    cursor:pointer;
}
.mt-15{
    margin-top:15px;
}
.invalid{
    border:1px solid red;
}

.animate_text{
    animation-name: fadeInUp;
    animation-duration: 1.3s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
