*, :after, :before {
    /*box-sizing: border-box;*/
}

* {
    margin: 0;
    padding: 0;
}

html {
    width:100%;
    font-size: 14px;
}
body {
    width:100%;
    line-height: 1.3;
}

.Home {
    width:100%;
    padding: 20px;
    /*max-width:790px;*/
    background-color: #0187de;
    margin-left:auto;
    margin-right:auto;

}

.inner_home {
    width: 100%;

    background-color: #fff;
    padding: 20px;
    padding-left: 36px;
    padding-right: 36px;

}

.inner_header {
    width: 100%;
    display: table;
}

.display-table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.personal_image {
    width: 116px;
    height: 116px;
}

.fr {
    float: right;
}

.header_info {
    width: 78%;
    font-size: 0.8rem;
    color: black;
}

.header_table div.table-cell {
    vertical-align: top;
}

.summary {
    margin-top: 8px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.contact_area {
    min-height: 70.6px;
    width: 100%;
    position: relative;
    overflow:hidden;
}

.inner_contact_area {
    position: absolute;
    top: 0;
    right: -36px;
    width: 866.6px;
    height: 70.6px;
    background-color: #0187de;
}
.display-inline-block{
    display:inline-block;
}
.position_relative{
    position:relative;
}
.contact_table{
    width:100%;
    height:100%;
    padding-left:15px;
}
.contact_table .table-cell{
    vertical-align: middle;
}
.contact_table .table-cell p{
    color:#fff;
}
.fl{
    float:left;
}
.ml-5{
    margin-left:5px;
}
.mt-5{
    margin-top:5px;
}
.display-grid{
    display:grid;
}
.width100{
    width:100%;
}
.inner_content{
    padding-top:30px;
    display:grid;
}
.display-inline-grid{
    /*display:flex !important;*/
    /*grid-template-columns: 1fr 1fr;*/
}
.col1 ,.col2{
    height:100%
}
.col2{
    border-left:3px solid #0187de;
    padding-left: 36px;
}
h3.section-title{
    color: #000;
    font-family: 'Inter', sans-serif;;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h5.section-title{
    color: #0187de;
    font-family: 'Inter', sans-serif;;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.strong{
    font-weight:700;
}
.skills_area, .description_area{
    max-width: 300px;
    margin-left: 25px;
    margin-top: 10px;
    line-height: 22px;
}
.description_area{
    word-break: break-all;
}
.skills_area ul li ,.description_area ul li{
    line-height: 22px;
}
.iconSvg{
    width:20px;
    height:20px;
    float:left;
}
.iconSvg svg{
    /*fill:transparent !important;*/
}
.iconSvg svg path{
    /*fill:#fff !important;*/
}
.description_area p ,.section-description p{
    font-size:0.9rem;
    line-height:1.3;
    color:black;
}
