/** {*/
/*    font-family: 'Domine', serif;*/
/*}*/
.bg-primary2 {
    --bs-bg-opacity: 1;
    background-color: #024a53;
}

.btn-primary2 {
    background-color: #024a53;
    color: #fff;
}

.btn-primary2:hover {
    background-color: #024a53;
    color: #fff;
}

.bg-soft-success {
    background-color: #3f757c !important;
}

.ele-button {

    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(170deg, #024a53 0%, #024a53 100%);
    border-radius: 5px 5px 5px 5px;
    padding: 16px 35px 16px 35px;
}

.ele-button:hover {

    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(170deg, #1d545c 0%, #1d555c 100%);
    border-radius: 5px 5px 5px 5px;
    padding: 16px 35px 16px 35px;
}

.text-primary2 {
    color: #515151;
}

.seperator {
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
    margin: 50px 0 0;
}

.seperator b {
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}

.social-icon button {
    font-size: 20px;
    color: white;
    height: 50px;
    width: 50px;
    background: #515151;
    border-radius: 60%;
    margin: 0px 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.social-icon {
    text-align: center;
}

.form-check-input:checked {
    background-color: #515151;
    border-color: #515151;
}
.exad-card{
    overflow:hidden;max-width:265px;max-height:350px;
}
.exad-card-thumb{
    overflow:hidden;width:100%;height:100%;
}
.exad-card-thumb svg, .exad-card-thumb > div.Home{
   width:100%;height:100%;
}
