.card-Home {
    width: 100%;
    height:100%;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.card-header{
    width: 100%;
    padding-bottom: 6px;
    background-color: #009ACC;
}
.card-text-left{
    text-align: left !important;
}
.card-row{
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
}
.card-d-flex{
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
}
.card-col-main{
    padding:0;
    display: table;
    width:95%;
    margin-left:auto;
    margin-right:auto;
}
.card-ml-5{
    margin-left:5px;
}
.card-main-title h3{
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}
h3.card-section-title{
    color: #000;
    font-size: 6px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}
h5.card-section-title{
    color: #009ACC;
    font-size: 6px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}
.card-mt-7{
    margin-top:7px;
}
.card-section-description p{
    color: #000;
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}
.card-mt-15{
    margin-top:5px;
}
.card-mt-16{
    margin-top:6px;
}
p.card-strong{
    font-weight: bold;
}
.card-section-description ul{
    margin-top:6px;
    padding-left:0;
}
.card-section-description ul li{
    color: #000;
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 5px;

}
ul.card-main-list li{
    color: #000;
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin-left: 5px;
}
.card-space-49{
    width: 100%;
    height:4px;
}
.card-personal-info-section{
    border-top:1px solid #FFF;
}
.card-personal-info-title{
    color: #FFF;
    font-size: 6px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}
.card-personal-info-description p, .card-personal-info-description ul li p{
    color:#FFF;
    font-size: 6px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}
.card-mt-10{
    margin-top:1px;
}
.card-contact-list{
    list-style: none;
}
.card-contact-list li{
    margin-bottom:9px;
}
.card-skills-list li{
    color: #FFF;
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    /*line-height: 1.5;*/
    margin-left: 14px;
}
.card-inner-rating {
    background-color: #fff;
    height: 4px;
    position: relative;
    width: 60%;
}
.card-field * {
    display: inline;
}
.card-field-ratt,.card-field{
    color:#fff;
    font-size:6px;
}
.card-txt-bold{
    font-weight: bold;
}
.card-pt-70{
    padding-top:7px;
}
.card-pt-50{
    padding-top:5px;
}
.card-header .card-main-title{
    color: #ffffff;
    text-align: center;
}
.card-contact_info{
    padding-top:2px;
    border-top:1px solid rgba(110, 193, 221, 0.9);
}
.card-contact_info_list{
    /*gap:4px;*/
    padding-left:0;
}
.card-contact_info_list{
    display: inline-flex;
    width:100%;
    justify-content: center;
}
::marker {
    font-weight: bolder;
    font-size: 5px !important;
}
.card-contact_info_list li{

    color:#ffffff;
    font-size: 5px;
    margin-left: 1px;
    margin-right:1px;

}
.card-space-60{
    width: 100%;
    height: 6px;
}
.card-section-row{
    display: inline-table;
}
.card-section-row div.card-col{
    display: table-cell;
}
.card-section-row div.card-col:first-child{
    width: 30%;
}
.card-section-row div.card-col:last-child{
    width: 70%;
}
.card-space-30{
    width: 100%;
    height:3px;
}
.card-width100{
    width:100%;
}
.card-bordered{
    border-bottom:1px solid #009ACC;
}
.card-main-title h3{
    color:#fff;
}
@media (min-width: 750px) and (max-width: 920px){
.exad-card.left .exad-card-thumb{
    max-height:200px;
}
}
@media(max-width: 920px){

    .card-header{
        padding-bottom: 3px;

    }
    .card-main-title h3 {
        font-size: 0.5rem;
        padding-bottom: 0;
        line-height: 0;
    }
    .card-contact_info_list li {
        font-size: 4px;
        margin-left: 1px;
        margin-right: 1px;
    }
    h5.card-section-title {
        font-size: 4px !important;
        line-height: 1.1;
    }
    .card-section-description p {
        font-size: 4px;
        line-height: 1.1;
    }
}
@media(min-width: 921px) and (max-width: 1100px){
    .exad-card.left .exad-card-thumb{
        max-height:250px;
    }

}
@media(min-width: 1101px) and (max-width: 1250px){
    .exad-card.left .exad-card-thumb{
        max-height:288px;
    }
}
